body {
  margin: 0;
  font-family: "Pretendard", Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Pretendard", Helvetica;
}

.app {
  background: #111;
  font-family: "Pretendard", Helvetica;
}
